.main {
    display: flex;
    align-items: baseline;
    justify-content: center;

    height: 100vh;

}

.searchSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}