.main {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  min-height: 72.2vh;
}

.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.searchSection h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
margin-left: 2rem;
margin-right: 2rem;
}
