.recipe {
  max-width: 800px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe button {
  display: inline-block;
  padding: 10px;
  height: 50px;
  font-size: 18px;
  background-color: #e6e6e6;

  border: 1px solid rgb(0, 0, 0);
  color: black;

  text-align: end;
  cursor: pointer;
  padding-right: 20px;
  width: 100px;
  font-size: 16px;

  position: relative;
}

.recipe button:hover {
  background-color: #000000;
  color: white;
}
.recipe button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotate(-135deg);
  border-top: 4px solid black;
  border-right: 4px solid black;
  width: 8px;
  height: 8px;
  transition: transform 0.3s;
}
.recipe button:hover::before {
  transform: translateY(-50%) rotate(-90deg);
  border-top: 4px solid white;
  border-right: 4px solid white;
}

.recipe img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.snapshot {
  display: flex;
  gap: 2rem;
}

.snapshot h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 0.5rem;
}

.snapshot h2 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.diets {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 6px 12px;
  border-radius: 14px;
  margin-right: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

.Ingredients {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 1rem;
}

.Summary {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  line-height: 180%;
}

.Instructions {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  list-style: none;
  margin-top: 1rem;
  line-height: 180%;
}

.Cooking {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 180%;
  margin-top: 1rem;
}

.Green {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  line-height: 180%;
}
.Health {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 1rem;
  line-height: 180%;
}

.creditsText {
  margin-bottom: 40px;
}

.macros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 3rem;
  margin-top: 1rem;
}

.macros h3 {
  font-size: 16px;
  font-weight: 500;
}

.macros p {
  font-size: 21px;
  margin-top: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  .recipe {
    width: 90vw;
    margin: 2rem;
    margin-top: 0;
  }
  .snapshot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .snapshot h2 {
    margin-top: 0rem;
  }

  .macros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 3rem;
    margin-top: 1rem;
  }
}
