.bottom {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    height: 120vh;
    z-index: -1;
  
   
   
}

.section3title {
    text-align: center;
        padding-top: 8vh;
        font-size: 8vh;
        font-weight: 700;
        color: white;
}

.row2 {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin: 0px 0;
}

.sec3-col-2 {
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
    margin-top: -1em;
}

.sec3-col-2 h1 {
    font-size: 5vh;
    font-weight: 600;
    line-height: 1.3em;
    color: #4F4F4F;
}

.row2 .sec3-col-2 p {
    margin-top: 2vh;
    font-size: 2vh;
    color: #303030;
    max-width: 900px;
    
    line-height: 2;
    font-weight: 300;
    margin-left: 0.2vw;
    

}


.sec3-col-1 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;

    .dish2{
        
        width: 90%;
        margin-left: 7rem;
        margin-top: 2rem;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    }


}


#form {
    width: 50vw;
    height: 5vh;
    text-align: left;
    margin-top: -5vh;
    font-size: 10vh;
    font-weight: bold;

}

#formbutton {
    transform: translateX(25%);
    margin-top:9vh;
    font-size: 5vh;

}


#results {
   
    transform: translateX(0%);
    left: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #F3D53B;

}

#searchTerm {
    width: 200px;
    justify-content: center;
}


.card {

    width: 20%;
    height: 100%;
}


   
.meal-entry {
    background: white;
    margin: 5vh;
    transform: translateX(15px);
    display: flex;
    border-radius: 0px;
    width: 21vw;
    min-width: 15vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.meal-button {
    width: 10vw;
    height: 5vh;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    background-color: #e2841f;
    color: white;
    z-index: 99;
}

.meal-image {

    text-align: center;
    position: relative;

    width: 21vw;
    max-width: 23vw;
    min-width: 10vw;
    object-fit: cover;
    overflow: hidden;
 
}
.meal-entry .content {

    padding-bottom: 10%;
    text-align: center;
    overflow: hidden;
}
.meal-entry .content h1 {
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 7rem;
    max-height: 15rem;

}

.meal-entry .content h4 {
    padding-top: 2%;
    font-size: 16px;
    font-weight: 300;
}
.meal-entry .content h3 {
    padding-top: 2%;
    font-size: 20px;
    font-weight: 400;
}

.meal-entry .content h5 {
    padding-top: 5%;
    font-size: 13px;
    font-weight: 300;
    padding-right: 5rem;
    padding-left: 5rem;
}


.form3 {
    width: 70%;
    padding-left: 5rem;
    height: 5vh;
    border-radius: 30px;
    border-width: 0;
    font-size: 2vh;
    border: none;
    color: black;


}

.button3 {
    width: 10vw;
    height: 5vh;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    background-color: #8C8C8C;
    color: white;


}

@media only screen and  (max-width: 1800px) {
    .meal-entry .content h1 {
        font-size: 24px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 7rem;
        max-height: 15rem;
    
    }

    .row2 .sec3-col-2 p {

        max-width: 40vw;
        

        
    
    }

}

@media only screen and  (max-width: 500px) {

    .meal-button {
        width: 39vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 5px;
        background-color: #e2841f;
        color: white;
        z-index: 99;
        transform: translateX(-50%);
    left: 50%;
    
    }

    .bottom {
        
        height: 150vh;
        width: 200%;
    }
    .section3title {
        transform: translateY(0);
        font-size: 40px;
     
    }
    .row2 {
        display: block;
    }
    .sec3-col-1 {
        flex-basis: 100%;
   
        margin-top: 0rem;
        transform: translateX(-50%);
    
    }
    .sec3-col-1 .dish2 {
        width: 110%;
    }
    .sec3-col-2{
        margin-top: 0rem;
        flex-basis: 100%;
        margin-left: 4vw;
    }
    .sec3-col-2 h1{
        font-size: 45px;

    }
    .sec3-col-2 p{
        margin-bottom: 2rem;
        font-size: 17px;
        max-width: 90vw;
        padding-right: 5%;
        line-height: 2;
    }
    .row2 .sec3-col-2 p {
        max-width: 100vw;
    }

    .form3 {
        width: 90vw;
        padding-left: 3rem;
        height: 7vh;
 
        border-radius: 30px;
        font-size: 17px;
    
    
    }

    #formbutton {
        transform: translateX(0%);
        margin-top:-2vh;
       
        
    
    }

    .button3 {
        width: 60vw;
        height: 7vh;
        font-size: 24px;
        margin-top: 15vh;
    
    
    }
    
    #results {
        left: 50%;
        display: block;
        margin-top: 27vh;
        height: 200vh;
    }

    .meal-entry {
        background: white;
        margin: 5vh;
        transform: translateX(15px);
        display: flex;
        border-radius: 0px;
        width: 70vw;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        
    
    }
    
    .meal-image {
    
        text-align: center;
        position: relative;
        width: 72vw;
        max-width: 90vw;
        max-height: 300px;
        overflow: hidden;
     
    }
    .meal-entry .content {
    
        padding-bottom: 10%;

        overflow: hidden;
    }
    .meal-entry .content h1 {
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 7rem;
        max-height: 15rem;
    
    }
    
    .meal-entry .content h4 {
        padding-top: 2%;
        font-size: 17px;
        font-weight: 300;
    }
    .meal-entry .content h3 {
        padding-top: 2%;
        font-size: 24px;
        font-weight: 400;
    }
    
    .meal-entry .content h5 {
        padding-top: 5%;
        font-size: 17px;
        font-weight: 300;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
    button {
  
        margin-top: 0vh;

    }

}





@media only screen and  (max-width: 400px) {

    .meal-button {
        width: 39vw;
        height: 5vh;
        font-size: 2vh;
        border: none;
        border-radius: 5px;
        background-color: #e2841f;
        color: white;
        z-index: 99;
        transform: translateX(-50%);
    left: 50%;
    
    }

    .bottom {
        
        height: 150vh;
        width: 200%;
    }
    .section3title {
        transform: translateY(0);
        font-size: 40px;
     
    }
    .row2 {
        display: block;
    }
    .sec3-col-1 {
        flex-basis: 100%;
   
        margin-top: 0rem;
        transform: translateX(-50%);
    
    }
    .sec3-col-1 .dish2 {
        width: 110%;
    }
    .sec3-col-2{
        margin-top: 0rem;
        flex-basis: 100%;
        margin-left: 4vw;
    }
    .sec3-col-2 h1{
        font-size: 45px;

    }
    .sec3-col-2 p{
        margin-bottom: 2rem;
        font-size: 17px;
        max-width: 90vw;
        padding-right: 5%;
        line-height: 2;
    }
    .row2 .sec3-col-2 p {
        max-width: 100vw;
    }

    .form3 {
        width: 90vw;
        padding-left: 3rem;
        height: 7vh;
 
        border-radius: 30px;
        font-size: 17px;
    
    
    }

    #formbutton {
        transform: translateX(0%);
        margin-top:-2vh;
       
        
    
    }

    .button3 {
        width: 60vw;
        height: 7vh;
        font-size: 24px;
        margin-top: 15vh;
    
    
    }
    
    #results {
        left: 50%;
        display: block;
        margin-top: 27vh;
        height: 200vh;
    }

    .meal-entry {
        background: white;
        margin: 5vh;
        transform: translateX(15px);
        display: flex;
        border-radius: 0px;
        width: 70vw;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        
    
    }
    
    .meal-image {
    
        text-align: center;
        position: relative;
        width: 72vw;
        max-width: 90vw;
        max-height: 300px;
        overflow: hidden;
     
    }
    .meal-entry .content {
    
        padding-bottom: 10%;

        overflow: hidden;
    }
    .meal-entry .content h1 {
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 7rem;
        max-height: 15rem;
    
    }
    
    .meal-entry .content h4 {
        padding-top: 2%;
        font-size: 17px;
        font-weight: 300;
    }
    .meal-entry .content h3 {
        padding-top: 2%;
        font-size: 24px;
        font-weight: 400;
    }
    
    .meal-entry .content h5 {
        padding-top: 5%;
        font-size: 17px;
        font-weight: 300;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
    button {
  
        margin-top: 0vh;

    }

}


