.section {
    height: 70vh;
    background: #EFEFEF;
    margin-top: 10rem;
    text-align: center;
    padding: 2rem;
}

.section h3{
    font-size: 24px;

    text-align: center;

}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    gap: 2rem;
}