.header1 {
    margin: 1rem;
    padding: 0;
    height: 70px;
    padding-right: 4rem;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: red;

  }
  
  
  .list {
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
  }

  
  
  .list a:hover,
  .list a.active {
    color: #cb9f0f;
    font-weight: 700;
    transition: 200ms;
  }
