.footer1 {
    position: relative;
    background-color: #F29552;
    height: 22vh;
    margin-top: 0rem;
}

.footerp {
    text-align: center;
    padding-top: 4%;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
@media only screen and  (max-width: 500px) {
    .footerp {
        font-size: 17px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }
    .footer1 {
        height: 20vh;
        margin-top: 0vh;
    }
}

@media only screen and  (max-width: 400px) {
    .footerp {
        font-size: 17px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }
    .footer1 {
        height: 20vh;
        margin-top: 0vh;
    }
}