.about {
    background-color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.about h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

.about p{
    font-size: 21px;
    line-height: 180%;
    font-family: 'Helvetica';
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 900px) {

    .about {
        margin-top: 5rem;
        width: 100%;
  
    }

    .about h1{
        width: 90vw;
        text-align: center;
    }

    .about p{
       text-align: center;
       margin-top: 1rem;
       width: 90vw;
    }
    
    
  
  
  }
  
  