.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}


@media (max-width: 900px) {

  .banner h1 {
    text-align: center;
  }
  
  
}