.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem 2rem;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.header1 {
  border-radius: 5px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 2.50463px 12.5231px rgba(189, 95, 95, 0.15);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow: hidden;
}

.header1 h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.summary {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.summary h3 {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 10px;

  font-family: Arial, Helvetica, sans-serif;
}


.summary p {
  min-height: 250px;
}

.header1 img {
  height: 300px;
  
  object-fit: cover;
}

.card button {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.card button:hover {
  background-color: black;
  color: white;
  transition: 300ms;
}

.item p {
  font-family: Helvetica;
  font-weight: 500;

  line-height: 150%;


  font-size: 16px;

}

.details {

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.serving {
  display: flex;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;

}

.serving h3 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5a5a5a;
}

.serving h2 {
  font-size: 25px;
  font-weight: 500;
}

.cost {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.cost h3 {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.cost h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}





@media (max-width: 2300px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 1500px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;
  
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
