.footer {
  background-color: black;
  color: white;
  height: 20vh;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}


@media (max-width: 900px) {
  .footer {
    text-align: center;
  }


}

