.form {
  display: flex;
  width: 90vw;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;

  align-items: center;
}

@media (max-width: 900px) {
  .form {
    flex-direction: column;
  }

  .form button {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;

    margin-right: 1rem;
    margin-left: 1rem;
  }
}
